
sudo: false
language: python
python:
  - "3.5"

# command to install dependencies
install:
  - "pip install -r requirements.txt"

# command to run tests
script: 
  - "python bin/agr_validate.py -s ingest/gene/geneMetaData.json -d ingest/gene/wbSample.BGI.json"
  - "python bin/agr_validate.py -s ingest/gene/geneMetaData.json -d ingest/gene/mgiSample.BGI.json"
  - "python bin/agr_validate.py -s ingest/allele/alleleMetaData.json -d ingest/allele/zfinSample.allele.json"
  - "python bin/agr_validate.py -s ingest/disease/diseaseMetaDataDefinition.json -d ingest/disease/ZfinSample.json"
  - "python bin/agr_validate.py -s ingest/phenotype/phenotypeMetaDataDefinition.json -d ingest/phenotype/zfinSample.phenotype.json"
  - "python bin/agr_validate.py -s ingest/expression/wildtypeExpressionMetaDataDefinition.json -d ingest/expression/ZfinSampleExpressionData.json"
  - "python bin/agr_validate.py -s ingest/orthology/orthologyMetaData.json -d ingest/orthology/orthologyTestData.json"
  - "python bin/agr_validate.py -s ingest/allele/variantMetaData.json -d ingest/allele/zfinSample.variant.json"
  - "python bin/agr_validate.py -s ingest/construct/constructMetaData.json -d ingest/construct/zfinSample.construct.json"
  - "python bin/agr_validate.py -s ingest/htp/datasetSample/datasetSampleMetaDataDefinition.json -d ingest/htp/datasetSample/exampleSGDdatasample.json"
  - "python bin/agr_validate.py -s ingest/htp/dataset/datasetMetaDataDefinition.json -d ingest/htp/dataset/exampleDataset.json"
  - "python bin/agr_validate.py -s ingest/htp/dataset/datasetMetaDataDefinition.json -d ingest/htp/dataset/exampleSuperseriesDataset.json"
  - "python bin/agr_validate.py -s ingest/molecules/moleculeMetadData.json.json -d ingest/molecules/WbSampleMolecule.json"
  - "python bin/validate_yaml.py"

# whitelist
#branches:
#  only:
#    - develop
